a.buttonLevelSelect {
  -moz-border-radius: 25px;
  -webkit-border-radius: 25px;
  border-radius: 25px;
  border: solid lightblue 4px;
  background-color: white;
  margin-left: 10px;
  margin-right:10px;
  /*
  -webkit-box-shadow: 0px 0px 23px 4px rgba(199,223,255,1);
  -moz-box-shadow: 0px 0px 23px 4px rgba(199,223,255,1);
  box-shadow: 0px 0px 23px 4px rgba(199,223,255,1);
   */
}
a.buttonLevelSelect:hover {
    background-color:lightblue;
}

/* tooltip section: 
   code altered from https://www.w3schools.com/css/css_tooltip.asp */
.tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    margin-left: -100px;
    margin-top: 60px;
}
.tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;  /* At the top of the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.buttonLevelSelect:hover .tooltiptext {
    visibility: visible;
}
/* end section*/